header{
    /*padding-top: 10px;*/
}
header h2{
    color: white;
    background-color: cadetblue;
    padding: 10px;
}
nav{
    float: right;
}
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: darkslategray;
    color: gainsboro;
}

section {
    background-color: lightsteelblue;
    display: inline-block;
    width: 100%;
}

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.panel{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    display: inline-block;
}
.portfolio{
    width: auto;
}

.panel h2{
    margin-bottom: 5px;
    color: cadetblue;
}
.index img{
    margin-right: 10px;
    margin-bottom: 10px;
}
.portfolio img{
    margin: 20px;
}
.responsive{
    max-width: 100%;
    height: auto;
}

@media (min-width: 576px)  {
    .panel{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (min-width: 768px) {
    .panel{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (min-width: 980px)  {
    .panel{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}