
header{
    width: 100%;
}
header h2{
    color: white;
    background-color: cadetblue;
    padding: 10px;
    margin: 0px;
}

section {
    background-color: lightsteelblue;
    display: inline-block;
    width: 100%;
}
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

section .container{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    display: inline-block;
}
section .container h2{
    margin-bottom: 5px;
    color: cadetblue;
}
.index img{
    margin-right: 10px;
    margin-bottom: 10px;
}

.portfolio img{
    margin: 20px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: darkslategray;
    color: gainsboro;
}

@media (max-width: 575px)  {
    header .row {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;
        text-align: center;
    }
    .index img{
        max-width: 70%;
        max-height: 70%;
    }
    section .container{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    section div{
        width: 100%;
    }
    .responsive{
        max-width: 40%;
        max-height: 40%;
    }
}
@media (min-width: 576px)  {
    .index img{
        max-width: 85%;
        max-height: 85%;
    }
    section .container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (min-width: 768px) {
    section .container{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (min-width: 980px) {
    section .container{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}